services:
  postgres:
    image: postgres:17.6-alpine3.22
    container_name: postgres
    restart: always
    ports:
      - '5432'
    environment:
      - POSTGRES_USER=quarkus
      - POSTGRES_DB=quarkus
      - POSTGRES_PASSWORD=quarkus
    command:
      - postgres
      - -c
      - wal_level=logical
      - -c
      - hot_standby=on
      - -c
      - max_wal_senders=10
      - -c
      - max_replication_slots=10
      - -c
      - synchronized_standby_slots=replication_slot
    healthcheck:
      start_period: 10s
      interval: 10s
      retries: 5
      test: [
        CMD,
        pg_isready
      ]
      timeout: 5s
  kafka:
    image: quay.io/debezium/kafka:3.3.1.Final
    container_name: kafka
    restart: always
    ports:
      - '9092'
      - '29092'
    environment:
      - CLUSTER_ID=oh-sxaDRTcyAr6pFRbXyzA
      - NODE_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
    healthcheck:
      start_period: 10s
      interval: 10s
      retries: 5
      # Attention le port n'est pas 29092
      test: [
        CMD,
        ./bin/kafka-topics.sh,
        --bootstrap-server,
        'kafka:9092',
        --list
      ]
      timeout: 5s
    depends_on:
      - postgres
  connect:
    image: quay.io/debezium/connect:3.3.1.Final
    container_name: connect
    restart: always
    ports:
      - '8083'
    links:
      - kafka
      - postgres
    environment:
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - GROUP_ID=1
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - BOOTSTRAP_SERVERS=kafka:9092
    healthcheck:
      start_period: 10s
      interval: 10s
      retries: 5
      test: [
        CMD,
        curl,
        -f,
        'http://localhost:8083/connectors'
      ]
      timeout: 5s
    depends_on:
      - postgres
      - kafka
  openbao:
    image: quay.io/openbao/openbao:2.4.4
    container_name: openbao
    restart: always
    cap_add:
      - IPC_LOCK
    ports:
      - '8200:8200'
    environment:
      - BAO_DEV_ROOT_TOKEN_ID=foobar
    healthcheck:
      start_period: 1s
      interval: 1s
      retries: 5
      test: [
        CMD,
        wget,
        -q,
        --spider,
        'http://127.0.0.1:8200'
      ]
      timeout: 1s
  salle-prise-de-commande:
    image: damien/salle-prise-de-commande:1.0.0-SNAPSHOT
    container_name: salle-prise-de-commande
    restart: always
    ports:
      - '8081:8080'
    links:
      - kafka
      - postgres
    depends_on:
      - kafka
      - postgres
      - connect
      - openbao
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/quarkus
      - QUARKUS_DATASOURCE_USERNAME=quarkus
      - QUARKUS_DATASOURCE_PASSWORD=quarkus
      # Attention le port n'est pas 29092
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - PULSE_DEBEZIUM_CONNECT_HOST=connect
      - PULSE_DEBEZIUM_CONNECT_PORT=8083
      - QUARKUS_VAULT_URL=http://openbao:8200
      - QUARKUS_VAULT_AUTHENTICATION_CLIENT_TOKEN=foobar
    healthcheck:
      start_period: 1s
      interval: 1s
      retries: 5
      test: [
        CMD,
        curl,
        -f,
        'http://localhost:8080/q/health'
      ]
      timeout: 1s
