services:
  postgres:
    image: postgres:17.6-alpine3.22
    container_name: postgres
    restart: always
    ports:
      - '5432'
    environment:
      - POSTGRES_USER=quarkus
      - POSTGRES_DB=quarkus
      - POSTGRES_PASSWORD=quarkus
    command:
      - postgres
      - -c
      - wal_level=logical
      - -c
      - hot_standby=on
      - -c
      - max_wal_senders=10
      - -c
      - max_replication_slots=10
      - -c
      - synchronized_standby_slots=replication_slot
    healthcheck:
      start_period: 10s
      interval: 10s
      retries: 5
      test: [
        CMD,
        pg_isready
      ]
      timeout: 5s
  # https://debezium.io/documentation/reference/stable/operations/monitoring.html
  # https://github.com/debezium/debezium-examples/tree/main/monitoring
  kafka:
    image: quay.io/debezium/kafka:3.3.1.Final
    container_name: kafka
    restart: always
    ports:
      - '9092'
      - '9997'
      - '29092'
    environment:
      - CLUSTER_ID=oh-sxaDRTcyAr6pFRbXyzA
      - NODE_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
    healthcheck:
      start_period: 10s
      interval: 10s
      retries: 5
      # Attention le port n'est pas 29092
      test: [
        CMD,
        ./bin/kafka-topics.sh,
        --bootstrap-server,
        'kafka:9092',
        --list
      ]
      timeout: 5s
    depends_on:
      - postgres
  # https://debezium.io/documentation/reference/stable/operations/monitoring.html
  # https://github.com/debezium/debezium-examples/tree/main/monitoring
  connect:
    image: quay.io/debezium/connect:3.3.1.Final
    container_name: connect
    restart: always
    ports:
      - '8083'
    links:
      - kafka
      - postgres
    environment:
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - GROUP_ID=1
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - BOOTSTRAP_SERVERS=kafka:9092
    healthcheck:
      start_period: 10s
      interval: 10s
      retries: 5
      test: [
        CMD,
        curl,
        -f,
        'http://localhost:8083/connectors'
      ]
      timeout: 5s
    depends_on:
      - postgres
      - kafka
  # https://github.com/kafbat/kafka-ui/blob/main/documentation/compose/kafbat-ui.yaml
  # https://github.com/kafbat/kafka-ui/blob/main/documentation/compose/ui-with-jmx-exporter.yaml
  kafbat-ui:
    container_name: kafbat-ui
    image: ghcr.io/kafbat/kafka-ui:2e62ea1
    ports:
      - 8080:8080
    depends_on:
      - kafka
      - connect
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_METRICS_PORT=9997
      - KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME=debezium
      - KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS=http://connect:8083
      - DYNAMIC_CONFIG_ENABLED=true
      - KAFKA_CLUSTERS_0_METRICS_STORE_PROMETHEUS_URL=http://otel-lgtm:9090
      - KAFKA_CLUSTERS_0_METRICS_STORE_PROMETHEUS_REMOTEWRITE=true
      - KAFKA_CLUSTERS_0_METRICS_STORE_KAFKA_TOPIC=kafka_metrics
    healthcheck:
      start_period: 12s
      interval: 1s
      retries: 5
      test: [
        CMD,
        wget,
        -q,
        --spider,
        'http://127.0.0.1:8080'
      ]
      timeout: 1s
  openbao:
    image: quay.io/openbao/openbao:2.4.4
    container_name: openbao
    restart: always
    cap_add:
      - IPC_LOCK
    ports:
      - '8200:8200'
    environment:
      - BAO_DEV_ROOT_TOKEN_ID=foobar
    healthcheck:
      start_period: 1s
      interval: 1s
      retries: 5
      test: [
        CMD,
        wget,
        -q,
        --spider,
        'http://127.0.0.1:8200'
      ]
      timeout: 1s
  otel-lgtm:
    image: docker.io/grafana/otel-lgtm:0.11.0
    container_name: otel-lgtm
    ports:
      - '3000:3000'
    volumes:
      - ./otel-lgtm/grafana-dashboard-opentelemetry-logging.json:/otel-lgtm/grafana-dashboard-opentelemetry-logging.json:ro
      - ./otel-lgtm/grafana-dashboard-quarkus-micrometer-opentelemetry.json:/otel-lgtm/grafana-dashboard-quarkus-micrometer-opentelemetry.json:ro
      - ./otel-lgtm/grafana-dashboard-quarkus-micrometer-otlp.json:/otel-lgtm/grafana-dashboard-quarkus-micrometer-otlp.json:ro
      - ./otel-lgtm/grafana-dashboard-quarkus-micrometer-prometheus.json:/otel-lgtm/grafana-dashboard-quarkus-micrometer-prometheus.json:ro
      - ./otel-lgtm/loki-config.yaml:/otel-lgtm/loki-config.yaml:ro
      - ./otel-lgtm/otelcol-config.yaml:/otel-lgtm/otelcol-config.yaml:ro
      - ./otel-lgtm/otelcol-config-export-http.yaml:/otel-lgtm/otelcol-config-export-http.yaml:ro
      - ./otel-lgtm/prometheus.yaml:/otel-lgtm/prometheus.yaml:ro
      - ./otel-lgtm/pyroscope-config.yaml:/otel-lgtm/pyroscope-config.yaml:ro
      - ./otel-lgtm/tempo-config.yaml:/otel-lgtm/tempo-config.yaml:ro
      - ./otel-lgtm/grafana/conf/provisioning/dashboards/grafana-dashboards.yaml:/otel-lgtm/grafana/conf/provisioning/dashboards/grafana-dashboards.yaml:ro
    healthcheck:
      start_period: 10s
      interval: 1s
      retries: 5
      test: [
        CMD,
        curl,
        -f,
        'http://localhost:3000'
      ]
      timeout: 1s
  alloy:
    image: grafana/alloy:v1.11.3
    container_name: alloy
    ports:
      - '12345:12345'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /run/podman/podman.sock:/run/podman/podman.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/lib/containers:/var/lib/containers:ro
      - ./alloy-config.alloy:/etc/alloy/config.alloy:ro
    command: run  --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    depends_on:
      - otel-lgtm
  salle-prise-de-commande:
    image: damien/salle-prise-de-commande:1.0.0-SNAPSHOT
    container_name: salle-prise-de-commande
    restart: always
    ports:
      - '8081:8080'
      - '9091:9090'
    links:
      - kafka
      - postgres
    depends_on:
      - kafka
      - postgres
      - connect
      - openbao
      - otel-lgtm
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/quarkus
      - QUARKUS_DATASOURCE_USERNAME=quarkus
      - QUARKUS_DATASOURCE_PASSWORD=quarkus
      # Attention le port n'est pas 29092
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - PULSE_DEBEZIUM_CONNECT_HOST=connect
      - PULSE_DEBEZIUM_CONNECT_PORT=8083
      - QUARKUS_VAULT_URL=http://openbao:8200
      - QUARKUS_VAULT_AUTHENTICATION_CLIENT_TOKEN=foobar
      - QUARKUS_MICROMETER_EXPORT_OTLP_URL=http://otel-lgtm:4318/v1/metrics
      - QUARKUS_OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-lgtm:4318
      - QUARKUS_OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - QUARKUS_OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://otel-lgtm:4318
      - QUARKUS_OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://otel-lgtm:4318
      - QUARKUS_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-lgtm:4318
      - OTEL_COLLECTOR_URL=otel-lgtm:4318
    healthcheck:
      start_period: 1s
      interval: 1s
      retries: 5
      test: [
        CMD,
        curl,
        -f,
        'http://localhost:8080/q/health'
      ]
      timeout: 1s
